@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Craft Beer Detail";
}


<h1>@ViewBag.Beer</h1>
<h2>@ViewBag.Brewery</h2>

<h5>Description:</h5>
<div>@Html.Raw(ViewBag.Description)</div>

@if (ViewBag.BeerDetails.Length > 0)
{
    <h5>Details:</h5>
    <div>
        <ul>
            @foreach (var detail in ViewBag.BeerDetails)
            {
                <li>@detail</li>
            }
        </ul>
    </div>
}
